.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 30px; /* Center the text vertically */
}


button:hover {
    background-color: #007B9A;
}
